@font-face {
    font-family: "TT Lakes";
    src: url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Regular.woff") format(woff), 
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Regular.ttf") format(ttf),
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Regular.eof") format(eof);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Bold.woff") format(woff), 
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Bold.ttf") format(ttf),
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Bold.eof") format(eof);
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "TT Lakes";
    src: url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Italic.woff") format(woff), 
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Italic.ttf") format(ttf),
        url("D:/Users/Максим/Documents/html/Задания для Kata/1/Fonts/TTLakes/TTLakes-Italic.eof") format(eof);
    font-weight: 200;
    font-style: italic;
}





html {
    font-family: "TT Lakes";
    font-style: normal;
    color: #1B1C21;
    font-size: 14px;
}

/*.divider--hidden {
    display: none;
}*/

.call {
    margin-left: 50%;
}

.item__link {
    margin: 0;
    display: flex;
    text-decoration: none;
    width: 246px;
    height: 40px;
    align-items: center;
    justify-content: center;
   /* padding-top: 10px;*/
}

.item__link:link {
    text-decoration: none;   
}

/** {
    border: 1px solid blue;
}*/

body {
    margin: 0;
    
}

.h1 {
    font-size: 2rem;
    border-left: 4px solid #41F6D7;
    margin-top: 10px;
    padding: 5px;
    width: 304px;
    height: 40px;
}

.nav-panel {
    margin-top: 15px;
    margin-left: 15px;
}

.menu {
    font-size: 1.14rem;
    margin: 0;
    padding: 0;
    
    display: flex;
    
    list-style: none;
    /*flex-grow: 0;*/
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
}

.container {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    flex-wrap: wrap;
    /*height: 320px;*/
    align-content: flex-start;
}

.item {
    
    color: #7E7E82;
    /*margin: 15px;
   /* padding-top: auto;
    padding-bottom: auto;*/
    text-align: center;
}

.item--select {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.expand {
    display: flex;
    font-size: 1.14rem;
    color: #1B1C21;
    font-style: bold;
    align-items: center;
    margin-left: 15px;
    width: 132px;
    height: 24px;
    /*margin-right: 500px;*/
}

.expand:link {
    text-decoration: none;
}

.info {
    padding-left: 15px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    width: 17%;
}

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    background: #F8F8F8;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    flex-wrap: wrap;
}

.expand__img {
    
}

.picture {
    width: 320px;
    
   /* order: 0;*/
}



@media (min-width: 320px) and (max-width: 767px) {
    

    .divider--hidden {
        display: none;
    }
    .call--hidden {
        display: none;
    }
    .chat--hidden {
        display: none;
    }
    .profile--hidden {
        display: none;
    }

   /* .info {
        width: 20%;
    }*/
    
}

@media (min-width: 768px) {
    
    /*.divider--hidden {
        display: none;
    }*/
    
   /* .picture {
        order: -1;
    }
    .info {
        order: -1;
    }
    .nav-panel {
        order: -1;
    }
    
    .h1 {
        order: -1;
    }
   /* .expand {
        order: 5100;
    }*/
    
    .info {
        width: 20%;
    }

    .container {
        height: 320px;
    }
    
    .picture {
        width: 360px;
        margin-left: 5%;
        border-radius: 6px;
    }
}