@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
   
    src: url("../common.blocks/page/Fonts/TTLakes/TTLakes-Regular.woff") format(woff), 
        url("../common.blocks/page/Fonts/TTLakes/TTLakes-Regular.ttf") format(ttf),
        url("../common.blocks/page/Fonts/TTLakes/TTLakes-Regular.eof") format(eof);
   
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: bold;
    
    src: url("../common.blocks/page/Fonts/TTLakes/TTLakes-DemiBold.woff") format(woff), 
        url("../common.blocks/page/Fonts/TTLakes/TTLakes-DemiBold.ttf") format(ttf),
        url("../common.blocks/page/Fonts/TTLakes/TTLakes-DemiBold.eof") format(eof);
    
}


* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    background: #F8F8F8;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-style: normal;
    color: #1B1C21;
    font-size: 14px;
}