@media (min-width: 320px) and (max-width: 767px) {
    
    .header__divider1 {
        display: none;
    }
    .header__call {
        display: none;
    }
    .header__chat {
        display: none;
    }
    .header__profile {
        display: none;
    } 
}